{% extends 'base.html.twig' %}

{% block title %}Monjoligrési - Connexion{% endblock %}

{% block main %}
    <div class="container">
    <form method="post">
    {% if error %}
        <div id="alertPwd" class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connectés comme {{ app.user.username }}, <a class="btn btn-info" href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connectez vous</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="mt-2 form-control" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="mt-2 form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

      {#  <div class="checkbox mb-3 mt-2">

            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>#}

    <button id="connexion" class="mt-4 btn btn-outline-primary" type="submit" name="Connexion">
        Connexion
    </button>
    </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
