{% extends 'base.html.twig' %}

{% block title %}Monjoligrési - Accueil{% endblock %}

{% block main %}

<div class="container text-center bgimg">
    <h4 class="mt-5">Bienvenue sur mon site de partage de jolis coins du Grésivaudan ! </h4>
    <p class="mt-3">Voici quelques curiosités à voir, des balades...</p>
    <p>N'hésitez pas à vous créer un compte pour pouvoir proposer vos propres coups de coeur et commentaires.</p>
    <img class="mt-3" src="{{ asset('img/valléegrésivaudan.jpg')}}" width="100%" height=300px alt="photo de la vallée du grésivaudan en isère" loading="lazy">
</div>

{% endblock %}
