{% extends 'base.html.twig' %}

{% block title %} Monjoligrési - enregistrement{% endblock %}

{% block main%}
    <div class="container">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Créer un compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
         {{ form_row(registrationForm.name, {label: 'Nom'}) }}
         {{ form_row(registrationForm.lastname, {label: 'Prénom'}) }}

        {{ form_row(registrationForm.pseudo, {label: 'Pseudo'}) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="mt-4 btn btn-outline-primary">S'enregistrer</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
