// CODE SCSS **NÉCESSAIRE DANS TOUTES LES PAGES** SI BESOIN
@import './custom.scss';
//@import './print.scss';
$tertiary: #4166C7;

.divider {
	// ajouter "mx-auto" dans balise html pour centrer, "my-4" pour l'espacement avt/ap
	color: $tertiary; //
	width: 30%;
}

