// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap');

$primary:#4166C7;
$secondary: #8EE0E5;
$blue: #4166C7;
$btn:#96B1F6;
$info: #00bcd4;
$gray: #7A7A7A !default;
h1, h2, h3, h4, h5 {
  color : $blue;
}

.bgimg{
  background-size: cover;
  background-repeat: no-repeat;
}
header{
  background-color: $secondary;
}
.published{
  display: block;
}
.notpublished{
  display: none;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .btn {
    width: 85%;
    height: auto;
  }
  .logo{
    img {
      width: 85px!important;
      height: 85px;
    }
  }
  body{
  main {
    min-height: 655px!important;
  }
  font-size: 16px!important;
  .photo {
    width: 300px!important;
    height: 200px;
  }
} }
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .btn {
    width: 85%;
    height: auto;
  }
  .logo{
    img {
      width: 85px;
      height: auto;
    }
  }
  body{
    main {
      min-height: 655px!important;
    }
    font-size: 16px!important;
    .photo {
      width: 350px!important;
      height: 250px;
    }
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .logo{
    img {
      width: 90px;
      height: auto;
    }
  }
  body{
    font-size: 20px!important;
    main {
      min-height: 650px!important;
    }
    .photo {
      width: 380px!important;
      height: 280px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .logo{
    img {
      width: 100px;
      height: auto;
    }
  }
  body {
    font-size: 22px!important;
    main {
      min-height: 650px;
    }
    .photo {
      width: 450px!important;
      height: 390px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .logo{
    img {
      width: 110px;
      height: auto;
    }
  }
  body {
    font-size: 22px!important;
    main {
      min-height: 650px!important;
    }
    .photo {
      width: 460px!important;
      height: 400px;
    }
  }
 }
footer{
  background-color: $blue;
}
body {
  font-family: "Roboto", serif!important;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.3px;
  line-height: 26px;
  text-transform: initial;
   }
.photo {
  width: 315px;
}
main {
  min-height: 650px;
  margin : 20px;
}
hr.dropdown-divider {
  border-top: 3px solid $primary;
}
fieldset {
  border: 3px solid $blue;
}
.colBlue{
  color: $info;
}
hr{
  margin: 100px auto;
  height: 2px;
  background-color: $info;
  border: none;
}
@import '~bootstrap/scss/bootstrap.scss';

