{#on récupère la route active#}
{% set route_name = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Partage de balades et autres jolis coins du Grésivaudan">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}Accueil monjoligresi{% endblock %}
    </title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>

<body>
<header id="header" class="shadow px-3 py-1 mb-4 rounded d-print-none">
{#    <div class="container">#}
        <div class="row">
            <nav class="col navbar navbar-expand-md navbar-light">
                <a class="mr-lg-5 navbar-brand logo" href="{{ path('home') }}">
                   <img src="{{ asset('img/logojoligresi.png')}}" alt="Logo - Redirige vers l'accueil (liste des balades)" loading="lazy">
                </a>
                {% if app.user %}
                    <a class="navbar-brand px-lg-5"> Bonjour {{ app.user.pseudo}}</a>
                {% endif %}
                {# width du svg à régler en fonction de la taille d'écran - 120 = PC ; rien = mobile #}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                {#on met en surbrillance la route active#}
                <div id="navbarNav" class="collapse navbar-collapse justify-content-md-left">

                    <ul class="navbar-nav">

                        {% if route_name != "login" %}
                            <li {% if route_name == "baladesListe" %} class="nav-item px-lg-5 ml-lg-5 px-2 active" {% else %} class="px-lg-5 ml-lg-5 px-2 nav-item" {% endif %} >
                                <a href="{{ path('baladesListe') }}" class="nav-link">Balades</a>
                            </li>
                            <li class="nav-item dropdown d-md-block d-none">
                                {% if app.user %}
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Espace membre</a>
                                     {# menu déroulant pour l'onglet connexion }} #}
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                        <a class="dropdown-item" href="{{ path('appLogout') }}">Déconnexion</a>
                                        <a class="dropdown-item" href="{{ path('userShow', {'id': app.user.id}) }}">Voir mon profil</a>
                                    </div>
                                {% endif %}
                            </li>

                            <hr class="dropdown-divider my-4 my-md-0 d-md-none">

                            {% if app.user %}
                                <li class="nav-item" >
                                <a href="{{ path('appLogout') }}" class="nav-link mt-2 d-md-none">Déconnexion</a>
                               </li>
                          {#   si le visiteur est un membre connecté il peut aller voir son profil#}
                                <li class="nav-item" >
                                <a class="nav-link mt-2 d-md-none" href="{{ path('userShow', {'id': app.user.id}) }}">Voir mon profil</a>
                                </li>
                            {% endif %}

                            {% if not app.user %}
                            <li {% if route_name == "appRegister" %} class="nav-item px-lg-5 ml-lg-5  active" {% else %} class="nav-item px-lg-6 px-md-4 px-2" {% endif %} >
                                <a href="{{ path('appRegister') }}" class="nav-link">Créer un compte</a>
                            </li>
                            <li {% if route_name == "appLogin" %} class="nav-item px-lg-5 ml-lg-5  active" {% else %} class="nav-item px-lg-6 px-md-4 px-2" {% endif %} >
                               <a href="{{ path('appLogin') }}" class="nav-link">Connexion</a>
                            </li>
                            {% endif %}
                        {% endif %}
                    </ul>

                </div>

            </nav>  {# #navbarNav #}
        </div>
        {# .row #}
{#    </div>#}
    {# .container #}
</header>

<main id="main">
    {# ce bloc sera remplacé dans toutes les autres pages de vue twig #}
    {% block main %}{% endblock %}
</main>

<footer id="footer" class="py-4 mt-4 d-print-none">
    <div class="container">
        <div class="row">
            <div class="col text-md-center font-weight-bold">
                <a href="{{ path('home') }}" class="text-secondary">Accueil</a>
            </div>
            <div class="col text-md-center font-weight-bold">
                <a href="{{ path('baladesListe') }}" class="text-secondary">Balades</a>
            </div>
            <div class="col text-center font-weight-bold">
                <a href="{{ path('mentions') }}" class="text-secondary">Mentions légales</a>
            </div>
            {# .col #}
        </div>
        {# .row #}
    </div>
    {# .container #}
</footer>

{# JAVASCRIPT #}
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
