{% extends 'base.html.twig' %}

{% block title %}Edit Comments{% endblock %}

{% block body %}
    <h1>Edit Comments</h1>

    {{ include('comments/form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('comments_index') }}">back to list</a>

    {{ include('comments/_deleteForm.html.twig') }}
{% endblock %}
