{% block main %}
<h2 style="text-align: center">Nouveau commentaire pour la balade</h2>

    <p style="margin-left: auto">balade titre: {{ titrebalade }}</p>
    <p style="margin-left: auto">mail expéditeur : {{ mailexp }}</p>
    <p style="margin-left: auto">commentaire : {{ commentaire }}</p>

{% endblock %}
