{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
    <h1>Comments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Textcomment</th>
                <th>Createdat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.textcomment }}</td>
                <td>{{ comment.createdat ? comment.createdat|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('comments_show', {'id': comment.id}) }}">show</a>
                    <a href="{{ path('comments_edit', {'id': comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comments_new') }}">Create new</a>
{% endblock %}
