{% extends 'base.html.twig' %}

{% block title %}New Comments{% endblock %}

{% block main %}
    <div class="container">
    <h1>Create new Comments</h1>

    {{ include('comments/form.html.twig') }}

    <a href="{{ path('commentsIndex') }}">back to list</a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('places') }}
{% endblock %}
