{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block main %}
    <div class="container">
        <h2 class="text-center pt-3 mb-5 font-weight-bold">Soumettre un commentaire</h2>
         <p class="text-center text-grey mb-3 mx-auto">Vous souhaitez apporter une information utile, une précision ?</p>
        <p class="text-center text-grey mb-3 mx-auto">Faire part de vos impressions lors de la balade ? C'est à vous ! </p>
        <p class="text-center text-grey mb-3 mx-auto">
            Je vous remercie pour votre contribution.
          </p>
        <p class="text-center text-grey mb-3 mx-auto">
            Ce commentaire sera validé avant affichage effectif. </p>
        <div ><h5 class="text-center pt-3 mb-5">{{ place.title }}</h5></div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="row mx-auto">
            <button id="sendCom" type="submit" class="row mx-auto mb-3 btn btn-outline-primary mx-auto">Envoyer ce commentaire</button>
        </div>
        {{ form_end(form) }}

    </div>

{% endblock %}
