{% extends 'base.html.twig' %}

{% block title %}Comments{% endblock %}

{% block body %}
    <h1>Comments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Textcomment</th>
                <td>{{ comment.textcomment }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ comment.createdat ? comment.createdat|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comments_index') }}">back to list</a>

    <a href="{{ path('comments_edit', {'id': comment.id}) }}">edit</a>
    <div class="col">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">
            Supprimer
        </button>
    </div>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Etes vous sûr de vouloir supprimer votre compte?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button id="deluser" onclick="{{ path('user_delete', {'id': user.id}) }}" type="button" class="btn btn-primary">oui, je confirme</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
