<form method="post" action="{{ path('userDelete', {'id': user.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer votre compte?');">
     <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button id="userdelete" class="btn">Supprimer</button>
</form>
