{% extends 'base.html.twig' %}

{% block title %}Monjoligrési -Modifier profil{% endblock %}

{% block main %}
    <div class="container">
         <h1 class="text-center">Modifier mon profil</h1>

        <div class="useredit">
{#            <div class="col"><a href="{{ path('home') }}">Accueil</a></div>#}
            <div class="col-sm-6"> {{ include('user/form.html.twig', {'attr': {'class': 'btn-outline-primary'},'button_label': 'Modifier'}) }}</div>
            <div class="col-sm-6">
                <button type="button" class="btn mt-2 btn-outline-primary text-center" data-toggle="modal" data-target="#confirmModal">
                    Supprimer
                </button>
                </div>
        </div>

        <div class="container ml-5">
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Suppression</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="fermer">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Etes vous sûr de vouloir supprimer votre compte?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button id="deluser" onclick="{{ path('userDelete', {'id': user.id}) }}" type="button" class="btn btn-primary">oui, je confirme</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('user') }}
{% endblock %}
