{% extends 'base.html.twig' %}

{% block title %}Profil membre{% endblock %}

{% block main %}

<div class="container">
    <h1>Mon profil</h1>
    <table class="table">
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
                <th>Nom</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.pseudo }}</td>
            </tr>
        <tr>
            <th>Date de création de compte</th>
            <td>{{user.createdat|date('d/m/Y')}}</td>
        </tr>

    </table>
    <div class="row">
{#        <div class="col"><a href="{{ path('home') }}">Accueil</a></div>#}

{#        <div class="col">{{ include('user/edit.html.twig') }}</div>#}
        <div class="col"><a class="btn btn-outline-primary" href="{{ path('userEdit', {'id': user.id}) }}">Modifier</a></div>
        <div class="col">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#confirmModal">
                Supprimer
            </button>
        </div>
    </div>
{#    modale de confirmation de suppression de compte affichée en cas de click sur le bouton supprimer#}
    <div class="container ml-5">
        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Suppression</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="fermer">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Etes vous sûr de vouloir supprimer votre compte?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button id="{{ user.id  }}" onsubmit="{{ path('userDelete', {'id': user.id}) }}" type="submit" class="btn btnDel btn-primary">oui, je confirme</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
 {% block javascripts %}
     {{ encore_entry_script_tags('user') }}
 {% endblock %}
