{% extends 'base.html.twig' %}

{% block title %}Monjoligrési - Edit Balades{% endblock %}

{% block main %}
    <div class="container">

        <h1 class="text-center">Modification d'une Balade</h1>

        {{ include('places/form.html.twig') }}

        <div class="row justify-content-center">

             {{ include('places/deleteForm.html.twig') }}

        </div>

    </div>
{% endblock %}
