{% block main %}
<h2 style="text-align: center">Nouvelle suggestion de balade</h2>
    <p style="margin-left: auto">mail expéditeur : {{ mailexp }}</p>
    <p style="margin-left: auto">balade titre: {{ titrebalade }}</p>
    <p style="margin-left: auto">commune : {{ commune }}</p>
    <p style="margin-left: auto">description : {{ description }}</p>
    <p style="margin-left: auto">point de départ : {{ depart }}</p>
    <p style="margin-left: auto">point d interet : {{ interet }}</p>
    <p style="margin-left: auto">distance : {{ distance }}</p>
    <p style="margin-left: auto">temps : {{ temps }}</p>
    <p style="margin-left: auto">type : {{ type }}</p>
    <p style="margin-left: auto">difficulte : {{ difficulte }}</p>

{% endblock %}
