{{ form_start(form) }}

  {% if is_granted('ROLE_ADMIN') %}
     {{ form_row(form.published,{'label': '  publié'}) }}
  {% else %}
      {{ form_row(form.published,{'attr': {'class': 'notpublished'}, 'label': false}) }}
  {% endif %}
{#  {{ form_row(form.type,{'label': '  publié'}) }}#}
 {{ form_rest(form) }}

    <div class="row justify-content-center ">
    <button class="mr-2 btn btn-outline-primary">{{ button_label|default('Enregistrer') }}</button>
    <a class="ml-2 btn btn-outline-primary text-center" href="{{ path('baladesListe') }}">Retour liste</a>
    </div>
{{ form_end(form) }}

