{% extends 'base.html.twig' %}

{% block title %}Balades{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('print') }}
{% endblock %}
{% block main %}
    <div class="container">
        {# affichage d'un message s'il y en a   #}
        {% for message in app.flashes('message') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <div class="flash-notice">
                    <h5 class="alert-heading">Bravo ! </h5>
                    <p>{{ message }}</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {# flash-notice #}
            </div>
            {# alert #}
        {% endfor %}
        <div class="mt-3 text-center row">
            <div class="col">
                <a class="noprint btn btn-outline-primary text-center mb-2" href="{{ path('listeBalades') }}">Que les balades</a>
            </div>
            {% if is_granted('ROLE_MEMBER') %}
                <div class="col">
                    <a class="noprint btn btn-outline-primary text-center mb-2" href="{{ path('baladesProposer', {'user': app.user.id} ) }}">Proposer une balade</a>
                </div>
            {% endif %}
            <div class="col">
                <a class="noprint btn btn-outline-primary text-center mb-2" href="{{ path('listeAutres') }}">Autres lieux</a>
            </div>
        </div>
    <table class="table">
        <tbody>
        <h3 class="text-center">Les balades </h3>
        {% for place in places %}
            {% if (place.published) or (not place.published and is_granted('ROLE_ADMIN'))%}
            <div class="text-center card">
                <div class="card-body">
                    <h4 class="card-title">{{ place.title }}</h4>
                    <p class="card-text">Description : {{ place.description }}</p>
                    <p class="card-text">Commune : {{ place.commune }}</p>
                    {% if place.interestPoint  %}
                        <p class="card-text">Points d'intérêts : {{  place.interestPoint }} </p>
                    {% endif %}
                    {% if place.imagename %}
                     <p class="card-text"><img class="photo" src="{{ vich_uploader_asset(place,'imageFile')}}" alt="{{  place.imagename }}"></p>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        {% if place.published  %}
                            <p class="card-text">balade publiée</p>
                        {% else %}
                            <p class="btn btn-secondary card-text">balade non publiée</p>
                        {% endif %}
                    {% endif %}
                    <div class="row">
                        <div class="col">
                            <div><a href="#"><figure><img class="noprint btnPrint icon__social" src="{{ asset('build/print.png') }}" alt="icone print" title=""></figure></a>
                            </div>
                        </div>
                        <div class="col">
                            <div><a class="noprint btn btn-outline-primary" href="{{ path('baladesAfficher', {'id': place.id}) }}">Détail</a>
                            </div>
                        </div>

                        {% if is_granted('ROLE_MEMBER') %}
                            <div class="col">
                                <a class="noprint btn btn-outline-primary" href="{{ path('ajoutCommentaire', {'id': place.id}) }}">Ajouter un commentaire</a>
                            </div>
                        {% endif %}
                      {#  <div class="col"> icone like prévu pour une version ultérieure
                            <a href="#"><figure><img class="icon__social colBlue" src="{{ asset('build/like.png') }}" alt="location" title=""></figure></a>
                        </div>#}

                    </div>
                    {# #fin ligne icones #}
                    <div class="row mt-2">

                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col">
                              <div><a class="btn btn-outline-primary" href="{{ path('baladesModifier', {'id': place.id}) }}">Modifier</a> </div>
                            </div>
                            <div class="col colBlue ">
                                {{ include('places/deleteForm.html.twig') }}
                            </div>
                        {% endif %}
                    </div>
                </div> {# fin card body #}
            </div> {# fin div text center #}
            {% endif %} {# fin if publie=true, balade affichée #}
        {% else %}
            {# #fin si table places vide #}
            <tr>
                <td class="text-center" colspan="9">Pas de balade !</td>
            </tr>

        {% endfor %} {# fin boucle sur places #}

        </tbody>
    </table>

    </div>
{% endblock %}
 {% block javascripts %}
     {{ encore_entry_script_tags('places') }}
     {{ encore_entry_script_tags('print') }}
 {% endblock %}
