{% extends 'base.html.twig' %}

{% block title %}Monjoligrési - ajouter balade{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="text-center">Ajouter une balade</h1>
        {% if not is_granted('ROLE_ADMIN') %}
             <p class="text-center alert-info">Cette balade sera effectivement publiée après validation</p>
        {%  endif %}

        <p class="text-center"></p>

        {{ include('places/form.html.twig') }}

    </div>
{% endblock %}
