{% extends 'base.html.twig' %}

{% block title %}Monjoligrési - détail{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('print') }}
{% endblock %}

{% block main %}
    <div class="text-center card border-primary">
    {#affichage du détail d'un lieu#}
        <div class="card-body">
{#          affichage du titre selon le type du lieu,           #}
            {% if place.type  == 'balade'%}
                <h3>Balade </h3>
            {% endif %}
            {% if place.type  == 'autre' %}
                <h3>Autre lieu à voir </h3>
            {% endif %}
            <h4 class="card-title">{{ place.title }}</h4>
{#            Si le lieu est une balade on affiche la distance et le temps si remplis#}
            {% if place.type  == 'balade' %}
                <div class="row justify-content-around">
                    {% if place.distance is not null  %}
                    <p class="mr-2 card-text align-content-center">Distance: {{  place.distance }} km</p>
                    {% endif %}
                    {% if place.time is not null %}
                    <p class="ml-2 card-text align-content-center">Temps: {{ place.time }} min </p>
                    {% endif %}
                </div>
                 {% if place.difficulty is not null  %}
                    <p class="card-text">Difficulté : {{  place.difficulty }} </p>
                 {% endif %}
            {% endif %}
            <!--<p class="card-text" style="color:#B01377">Distance &nbsp : &nbsp ${res[i].distance}Km &nbsp | &nbsp Temps &nbsp : &nbsp ${formattedTime}</p>-->
            <p class="card-text">Description : {{ place.description }}</p>
            <p class="card-text">Commune : {{ place.commune }}</p>
            <p class="card-text">Point de départ : {{ place.startPoint }}</p>
            {% if place.interestPoint %}
              <p class="card-text">Points d'intérêts : {{  place.interestPoint }} </p>
            {% endif %}
            {% if place.imagename %}
                <p class="card-img-top"><img class="photo" src="{{ vich_uploader_asset(place,'imageFile')}}" alt="{{  place.imagename }}"></p>
            {% endif %}

            <div class="row">
                <div class="col">
                    <div><a href="#"><img class="noprint btnPrint icon__social" src="{{ asset('build/print.png') }}" alt="print" title=""></a>
                    </div>
                </div>
                <div class="col">
                    <a class="noprint btn btn-outline-primary" href="{{ path('baladesListe') }}">Retour liste</a>
                </div>

                {% if is_granted('ROLE_MEMBER') %}
{#                    un utilisateur connecté peut envoyer un commentaire#}
                    <div class="col">
                        <a class="noprint btn btn-outline-primary" href="{{ path('ajoutCommentaire', {'id': place.id}) }}">Ajouter un commentaire</a>
                    </div>
                {% endif %}
              {#  <div class="col">
                    <a class="colBlue" href="#"><figure><img id="btnLocation" class="icon__social " src="{{ asset('build/location.png') }}" alt="location" title=""></figure></a>
                </div>#}
            </div>
            <div class="row mt-2">

                {% if is_granted('ROLE_ADMIN') %}
{#                    ajout d'actions possible pour l'utilisateur admin : #}
{#                    modifier ou  supprimer le lieu#}

                    <div class="col">
                        <div><a class="btn btn-outline-primary" href="{{ path('baladesModifier', {'id': place.id}) }}">Modifier</a></div>
                    </div>
                    <div class="col">
                        {{ include('places/deleteForm.html.twig') }}
                    </div>
                {% endif %}
            </div>
            <div class="row">
                <h4 class="col mt-2 text-center">Commentaires</h4>
            </div>
                {% for comment in place.comments %}
                    {% if comment.published or is_granted('ROLE_ADMIN') %}
                        <hr>
                    {% endif %}
                    {#on boucle sur les commentaires liés à cette balade#}
                   <div class="row">
                       {% if comment.published or is_granted('ROLE_ADMIN') %}
                           <hr>
                            <div class="col text-center">{{ comment.textcomment }}</div>
                       {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}

{#                        l'admin peut publier ou supprimer le commentaire affiché#}
                         <div class="col text-center">  {{ include('comments/deleteForm.html.twig') }}</div>
                        {% if not comment.published  %}
                            <div class="col text-center"> <a class="noprint btn btn-outline-primary" href="{{ path('publishComment', {'id': comment.id}) }}">publier</a> </div>
                            <p class="btn btn-secondary card-text">commentaire non publié</p>
                        {% endif %}
                    {% endif %}
                   </div>
                {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('places') }}
    {{ encore_entry_script_tags('print') }}
{% endblock %}

